{% extends "core1/base.html" %}
{% load hps_tags %}
{% load static %}
{% block pageTitle %}
              <i class="fa-solid fa-virus-covid"></i> Symptoms
{% endblock pageTitle %}

{% block content %}
            <!-- Dises Section -->
        <section class="symptomsSection">
          <div class="container-fluid">
            <div class="row symptomsRow">
              <div class="col-12">
                <div class="heading">
                  <h5 class="title">All Symptoms</h5>
                  <hr />
                </div>
              </div>

              <div class="col-12">
                <div class="historyTable table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                         <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for symptom in symptoms %}
                        
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{symptom.name|getProperName|title}}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock content %}
    