@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;800;900&display=swap");

/* 
=== VARIABLES ===
 */

:root {
  /* colors */
  --bg-main: #8bbf41;
  --bg-dark: #001530;
  /* fonts color */
}

/* 
=== RESET PROPORTY ===
 */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

/* 
=== REUSABLE CODE ===
 */
.mainBtn {
  padding: 0.7rem 2rem;
  display: inline-block;
  border: 1px solid var(--bg-main);
  background-color: var(--bg-main);
  border-radius: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.mainBtn i {
  transition: all 0.3s ease-in-out;
}

.mainBtn:hover i {
  margin-left: 0.5rem;
}

.mainBtn:hover {
  color: #fff;
}

/* === 
 MAIN SECTION
 === */

.bodyWrapper {
  display: flex;
  height: 100vh;
}

.sideMenu {
  position: fixed;
  width: 18%;
  top: 0;
  left: 0;
  background-color: var(--bg-dark);
  min-height: 100vh;
  transition: all 0.4s ease-in-out;
  z-index: 999;
  border-right: 6px solid var(--bg-main);
}

.sideToggle {
  left: 0 !important;
  width: 80%;
}

.sideMenu .sidebrand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.sideMenu .mobileUser {
  display: none;
}

.sideMenu .sidebrand img {
  max-width: 200px;
}

.sideMenu .sideLinks {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.sideMenu .sideLinks .link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.sideMenu .sideLinks .link.active,
.sideMenu .sideLinks .link:hover {
  background-color: var(--bg-main);
}

.sideMenu .sideLinks .link.active i,
.sideMenu .sideLinks .link:hover i {
  color: #fff !important;
}

.sideMenu .sideLinks .link i {
  margin-right: 0.5rem;
  color: #ff00d4;
  font-size: 1.2rem;
}

.sideMenu .sideLinks .link:nth-child(2) i {
  color: #ffc400;
}
.sideMenu .sideLinks .link:nth-child(3) i {
  color: #0066ff;
}
.sideMenu .sideLinks .link:nth-child(4) i {
  color: #dc143c;
}

.mobileNav {
  display: none;
}

/* ===
MAIN CONTENT
=== */

.mainContent {
  display: flex;
  flex-direction: column;
  width: 82%;
  position: fixed;
  right: 0;
  overflow-y: auto;
  height: 100vh;
}

.mainContent .headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f7ff;
  padding: 0.5rem 1.5rem;
}

.mainContent .headerSection .pageTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

.mainContent .headerSection .pageTitle i {
  margin-right: 0.5rem;
  color: var(--bg-main);
}

.mainContent .headerSection .userDetail .dropdown .btn {
  background-color: transparent;
  border: 0;
  color: #000000;
}

.mainContent .headerSection .userDetail .dropdown .dropdown-menu {
  border: 0;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
}

.mainContent
  .headerSection
  .userDetail
  .dropdown
  .dropdown-menu
  .dropdown-item {
  font-size: 0.9rem;
}

.mainContent
  .headerSection
  .userDetail
  .dropdown
  .dropdown-menu
  .dropdown-item
  i {
  margin-right: 0.5rem;
  color: var(--bg-main);
}

.mainContent .headerSection .userDetail img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.symptomsSection {
  margin-top: 2rem;
  padding: 0 1rem;
}

.symptomsSection .heading .title {
  font-weight: 700;
}

.symptomsSection .input-group {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.symptomsSection .input-group .symInput label {
  margin-bottom: 0.5rem;
}

.symptomsSection .input-group .symInput .form-control {
  padding: 0.4rem 1rem;
  border-radius: 0;
}

.symptomsSection .input-group .symInput .form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #8bbf41;
}

.symptomsSection .input-group .formBtn .mainBtn {
  float: right;
}

.predictedSection {
  margin-top: 2rem;
  padding: 1rem 1rem;
}

.preContent .title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.preContent .result {
  border: 1px solid #dddddd;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.preContent .result .resultTitle {
  font-weight: 700;
  color: var(--bg-main);
}

.preContent .result .text {
  color: #585858;
}

.historyTable .table thead {
  background-color: var(--bg-main);
  color: #fff;
}

.historyTable .table .tableBtn {
  background-color: #dc143c;
  color: #fff;
  padding: 0.4rem 0.7rem;
  display: inline-block;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.profileSection .userDetails {
  border: 1px solid #e4e4e4;
  padding: 2rem 2rem;
  border-radius: 1rem;
  position: relative;
  margin-top: 3rem;
}

.profileSection .userDetails .profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 1rem;
}

.profileSection .userDetails .value {
  font-weight: 700;
}

.profileSection .userDetails .text {
  margin-bottom: 0;
  color: #585858;
}

.profileSection .userDetails .editBtn {
  position: absolute;
  right: 3%;
  top: 7%;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: #1453dc;
  color: #fff;
  border-radius: 50%;
}

.usereditSection {
  margin-top: 2rem;
}

.usereditSection .input-group {
  display: flex;
}

.usereditSection .input-group .twoInput {
  display: flex;
  gap: 2rem;
}

.usereditSection .input-group .twoInput .firstInput {
  width: 50%;
}

.usereditSection .input-group .firstInput label {
  color: #585858;
  margin-bottom: 0.4rem;
}

.usereditSection .input-group .firstInput .form-control {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.usereditSection .input-group .mainBtn {
  float: right;
  margin-top: 2rem;
}

/* ===
REGISTER FORM
=== */
.registerSection {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.registerSection .registerImage {
  width: 50%;
  background-color: var(--bg-dark);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerSection .registerImage img {
  width: 400px;
  height: auto;
  animation: scalUp 3s ease-in-out infinite;
}

@keyframes scalUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.registerSection .registerForm {
  width: 50%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.registerSection .registerForm .heading .title {
  font-weight: 700;
}

.registerSection .registerForm .heading .title i {
  margin-right: 0.5rem;
  color: var(--bg-main);
}

.registerSection .registerForm .heading .text {
  color: #585858;
}

.registerSection .registerForm .input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registerSection .registerForm .input-group label {
  margin-bottom: 0.4rem;
}

.registerSection .registerForm .input-group .form-control {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.registerSection .registerForm .input-group .submitBtn .mainBtn {
  float: right;
  margin-top: 2rem;
}

.registerSection .registerForm .input-group .submitBtn .mainBtn i {
  margin-left: 0.5rem;
  margin-right: 0;
}

.registerSection .registerForm .input-group .account {
  color: #000000;
  margin-block: 1rem;
}

.registerSection .socialMedia {
  text-align: center;
}

.registerSection .socialMedia .title {
  font-weight: 700;
  margin-bottom: 2rem;
}

.registerSection .socialMedia .socailLink {
  display: inline-block;
  margin-right: 1rem;
  background-color: #ffe6eb;
  padding: 0.5rem 0.9rem;
  font-size: 1.2rem;
  color: #dc143c;
  border-radius: 0.3rem;
}

.registerSection .socialMedia .socailLink:nth-child(3) {
  background-color: #e6f6ff;
  color: #006eff;
}
.registerSection .socialMedia .socailLink:last-child {
  background-color: #ffe6fd;
  color: #ff00aa;
  margin-right: 0;
}

.registerSection .registerForm .welcomeContent {
  text-align: center;
}

.registerSection .registerForm .welcomeContent .title {
  font-weight: 700;
}

.registerSection .registerForm .welcomeContent .text {
  color: #585858;
  font-size: 0.9rem;
}

.welcomeSection .welcomeImage {
  position: relative;
  padding: 1rem 2rem;
}

.welcomeSection .welcomeImage img {
  position: absolute;
  animation: none;
  top: 2%;
  left: 2%;
  width: 200px;
  height: auto;
}

.welcomeSection .welcomeImage .text {
  color: var(--bg-main);
  font-size: 2rem;
  font-weight: 700;
}

.symptomsSection .mainBtn{
  margin-top: 1rem;
}